@use '_Mixins.module.scss' as *;
@use '_Variables.module.scss' as *;

//===========================================Header
.HeaderContainer {
  height: 100%;
  display: grid;
}

//===========================================Main
.mainContainer {
  .headerContent {
    text-align: center;
    h2{
      span{
        font-weight: 800;
        color: $ft-clr1;
      }
    }
    h1{
      @include gridCenter;
      width: 80%;
      height: 10rem;
      margin-inline: auto;
      background-color: black;
      color: rgb(17, 224, 17);
      border: 1px solid rgba(255, 255, 255, .6);
      border-radius: 5px;
    }
  }
}

//===========================================Main
.lightHouseContainer {
  width: 100%;
  .lightHouseImage{
    width: 100%;
    height: 20rem;
    border: 1px solid white;
    background-color: #944f00;
  }
}
