@use '_Mixins.module.scss' as *;
@use '_Variables.module.scss' as *;

//===========================================Header
.HeaderContainer {
  height: 100%;
  display: grid;
}

//===========================================Main
.mainContainer {
  .headerContent {
    text-align: center;
    h2{
      span{
        font-weight: 800;
        color: $ft-clr1;
      }
    }
    h1{
      @include gridCenter;
      width: 80%;
      height: 10rem;
      margin-inline: auto;
      background-color: black;
      color: rgb(17, 224, 17);
      border: 1px solid rgba(255, 255, 255, .6);
      border-radius: 5px;
    }
  }
}

//===========================================Lighthouse
.lightHouseContainer {
  @include gridCenter;
  background-color: white;
  color: black;
  padding-block-end: 1rem;
  .lightHouseImage{
    @include gridCenter;
    border: 1px solid black;
    border-radius: 5px;
    @include lightouseBoxShadow;
  }
  span{
    margin-block-start: 1rem;
    a{
      color: rgb(0, 119, 255);
      @include lightHouseTransition;
      font-size: .9rem;
      &:hover{
        color: rgb(180, 0, 30);
      }
      &:visited{
        color: rgb(97, 0, 16);
      }
    }
  }
}
